.DS_Store
.externalNativeBuild
projectFilesBackup/*
/captures/
/.gradle/*
/.idea/*
/build/*
/gradle/*
/local.properties
signing.properties
gradle.properties
.DS_Store
gradlew*
*.iml
*~

installable_app/build/*
network/build/*
model/build/*
feature_weather_list/build/*
feature_biometric/build/*
basefeature/build/*
